.App {
  text-align: center;
}

body {
  background-color: gainsboro;
  box-sizing: border-box;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.main {
  margin-bottom: 30px;
}

.pen {
  line-height: 0;
  font-size: 15px;
  font-weight: bold;
}

.unit-btn {
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: none;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
}

.pluse-btn {
  border: none;
  background-color: lightblue;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;

}

.minus-btn {
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;

}

.accept {
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  background-color: #43A047;
  color: #fff;
  border: none;
  padding: 15px 20px;
  margin-top: 10px;
  border-radius: 5px;
}

.inp {
  width: 350px;
  height: 50px;
  border-radius: 8px;
  padding-left: 10px;
  border: 3px solid white;
  background-color: #BDBDBD;
  color: white;
  font-size: 20px;
  outline: none;
}


.but-btns {
  width: 40px;
  height: 20px;
  line-height: 20px;
  background-color: #fff;
  display: inline-block;
  padding: 5px;
  margin: 10px;
  border-radius: 8px;
}

.trash-btn {
  color: red;
}

.edit-btn {
  color: blue;
}

.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-input {
  color: #fff;
  height: 20px;
  border-radius: 999px;
  border: 2px solid gray;
  background-color: #ffffff38;
  padding-left: 5px;
  outline: none;
}

.edit-input::placeholder{
  color: #fff;
}

.edit-check-btn {
  height: 20px;
  line-height: 20px;
  font-size: 25px;
  color: green;
}

.edit-calcel-btn{
  height: 20px;
  line-height: 20px;
  font-size: 25px;
  color: red;
}

.card_style{
  background-color: #21212153;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin: 5px auto;
  width: 350px;
  border-radius: 5px;
  padding: 10px 0px;
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, .2);
}

.card_style p{
  margin-top: 0;
}